/* body {display: flex; min-height: 100vh; flex-direction: column;} */

html {height:100%; }

body { background-color:#FFFBED; background-image: url(../img/back_dots.png); font-size:14px; font-family: 'HelveticaNeueLTStd'; }
h2{ font-size:2.6em; color:#57585A; text-transform: uppercase; font-family: 'HelveticaNeueLTStd Bold'; margin:0 0 1rem 0;}
h3{font-size: 1.2rem; margin: 2.5rem 0 0rem 0;  font-family: 'HelveticaNeueLTStd Bold';}
h5 { text-align: center; color:#fff; margin:2rem auto; font-size: 1.2rem;}
p{ font-size:1.2rem; color:#838588; }

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){border-bottom:none; box-shadow:none; }

/****** GENERALES *******/

.container-large{margin: 0 auto; width: 94%;}
.minAlto{ min-height:350px;}
.dashedLine { border-top: dashed #929497 2px; }
.sectionSpaces{ padding: 3em 0 3em 0; }

.subtitulo { font-size:1.3rem; margin-top: 0; }
.subtitulo span{  font-size:1.35rem;}

#nosotros .row img, #tercerizacion .row img{ max-width: 20em;}
.imgHead{ width:100%; text-align: center;}
/****** MENU *********/

#top_menu_wrapper{ padding:2.5rem 0 4rem 0; width:100%; background-image:url(../img/verde-01.png); background-size: contain;}
.white_label{ width:100%; background-color:#fff;}

#staticMenu { overflow: hidden;}
#staticMenu ul { margin:0; overflow: hidden;}
#staticMenu ul li { float: left;padding:1rem 0 0 0; text-align: center; margin: 0 .5rem; position: relative;}
#staticMenu ul li a { color:#57585A; display:block; font-size: 1.2rem;}

#staticMenu ul.deskMenu li:after {
	content: '';
	display: block;
	margin: .8rem auto auto auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
#staticMenu ul.deskMenu li:hover:after {
	width: 100%;
	background:#EC1B23;
}

/*#staticMenu ul.socialMenu { color: #EC1B23; line-height:29px;}*/
#staticMenu ul.socialMenu { color: #509D23; line-height:29px;}
#staticMenu ul.socialMenu img{ width:29px; height: auto;}


#fixedMenu {overflow:hidden; background-image:url(../img/verde-01.png); background-size: contain; padding: 1rem 0; position: fixed; top:0; width:100%; z-index:500; display: none;}
#fixedMenu ul { margin:0; overflow: hidden; float: right;}
#fixedMenu ul li { float:left; padding: .8rem 0; text-align: center; margin: 0 .5rem; position: relative; color:#fff;}
#fixedMenu ul li a { color:#fff; display:block; font-size: 1.2rem;}
#fixedMenu ul li img { width:29px; height: auto;}

.logoMenu{ position: relative;}
.logoMenu .logoMain img{ width:7em;}
.menuMovil{ position: absolute; top:10px; left:-12px; cursor: pointer;}
.miniMenu { position: absolute; top: 1.5em; left:1.5em; cursor: pointer; z-index:100;}

/******** HOME ********/

#home { position:relative;}

/******** NOSOTROS ********/


/******** PANETONES Y PANADERIA ********/

ul.menuSlider { display: block; margin:0 auto; overflow: hidden; width: 20em;}
ul.menuSlider li { float: left; width:33.3%; text-align: center;}
ul.menuSlider li a { color:#636060; text-transform: uppercase; font-size:1.2em;}

#panetonesList header, #pasteleriaList header{ height: 214px;}
#panetonesList header h4, #pasteleriaList header h4{ font-size:1rem; margin:1rem 0; padding:0 16px; display: inline-block; color: #696969;
background:url(../img/star.png) center right no-repeat,
url(../img/star.png) center left no-repeat,
}
#panetonesList p, #pasteleriaList p{ font-size:.9rem; margin:.4rem 0 .6rem 0; text-align:justify;line-height: 1.1rem; padding: 0 1rem; }

.menuSlider a.activo { border-bottom:solid 2px #EC1B23; color:#000; transition:.2s; padding-bottom: .4rem;}

.menuSlider a:after{
    content: '';
    display: block;
    margin: .2rem auto auto auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease; }

.menuSlider a:hover:after {
    width: 60%;
    background: #EC1B23;
}

/* Carrusel */
#panetonesList,#pasteleriaList { width:173px; margin: 3rem auto 0 auto; text-align:center; position: relative; }
#panetonesList .viewport, #pasteleriaList .viewport { width: 173px; height: 335px; float: left; overflow: hidden; position: relative;}
#panetonesList .overview, #pasteleriaList .overview { list-style: none; position: absolute; width: 173px; left: 0; top: 0; margin:0;}
#panetonesList .overview li, #pasteleriaList .overview li { float: left; margin: 0px;  height: 335px; width: 173px; position:relative;}
#panetonesList .overview img, #pasteleriaList .overview img{ height:150px;}
#panetonesList .buttons, #pasteleriaList .buttons {
    display: block;
    top: 64px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
    position:absolute;
    width:15px;
    height:35px;
    float:left;
    z-index: 100;
    background-repeat: no-repeat;
}
#panetonesList .next, #pasteleriaList .next { background:url(../img/galleryArrow.png); right:-1.5rem;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#panetonesList .prev, #pasteleriaList .prev  { background:url(../img/galleryArrow.png); left:-1.5rem }


/******** VENTAS ********/

#ventas p { margin:.5rem 0 1rem 0; font-size:1rem; text-align:left;}
#ventas .mapaVentas{ margin:2rem 0 2rem 0;}

.menuMapa{ position: relative;}
.menuMapa ul{ position: absolute; margin-top:.3rem; display:none;}
.menuMapa ul li {  margin-bottom:.3rem; width:140px; text-align: center; cursor: pointer;}
.menuMapa ul li a{ width:100%; color:#fff; background:#EC1B23;display: block;}
.menuMapa ul li:hover a{  color:#000;}
.botonMap{ display: block; background-color:#EC1B23; color:#fff;font-family: 'HelveticaNeueLTStd Bold'; font-size: .9rem; padding: .5rem 0; width:140px; text-align: center; cursor: pointer;}
/*#ventas .mapaVentas iframe { position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; }*/




/******** NOVEDADES ********/


/* Carrusel */
#novedadesList { width:230px; margin: 3rem auto 0 auto; text-align:center; position: relative; }
#novedadesList .viewport { width: 230px; height: 335px; float: left; overflow: hidden; position: relative;}
#novedadesList .overview { list-style: none; position: absolute; width: 230px; left: 0; top: 0; margin:0;}
#novedadesList .overview li { float: left; margin: 0px;  height: 335px; width: 230px; position:relative;}
#novedadesList .overview img{ height:150px;}
#novedadesList .buttons {
    display: block;
    top: 64px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
    position:absolute;
    width:15px;
    height:35px;
    float:left;
    z-index: 100;
    background-repeat: no-repeat;
}
#novedadesList .next { background:url(../img/galleryArrow.png); right:-1.5rem;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#novedadesList .prev  { background:url(../img/galleryArrow.png); left:-1.5rem }

#novedadesList header{ height: 214px;}
#novedadesList header h4{ font-size:1rem; margin:1rem 0; padding:0 16px; display: inline-block; color: #696969;
background:url(../img/star.png) center right no-repeat,
url(../img/star.png) center left no-repeat,
}
#novedadesList p{ font-size:.9rem; margin:.4rem 0 .6rem 0; text-align:justify;line-height: 1.1rem; padding: 0 1rem; }



/******** CONTACTO ********/

#contacto {display: flex; flex-direction: column;} 
#contacto .formwrapper{ background-image:url(../img/negro-01.png); width:100%; flex: 1 0 auto;}
#contacto .sectionSpaces{ padding-bottom:1em;}

.triangulito{ width: 4.8em; margin: 0 auto; height: 0; border-style: solid; border-width: 2.6rem 2.4em 0 2.4em; border-color: #fffce6 transparent transparent transparent;}

#contacto form{ margin:3rem auto; padding:2rem 0;}
#contacto input[type=text], #contacto textarea { border:none; padding:0 1rem;  color:#3F3F40; background-color:#fff; margin-bottom:1rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    border-radius: .6rem;
}
#contacto input[type=text]{  width:calc(100% - 2rem); margin-bottom:1.5rem; }
#contacto textarea{ width:100%); resize: none; height: auto; min-height:9rem; padding-top:.8rem; background-image:url(../img/send.png); background-repeat:no-repeat; background-position:bottom right;}
#contacto .formwrapper form{ position:relative;}
#contacto a.botonSend {
    position: absolute;
    right: 0;
    bottom: 55px;
    width: 3.3rem;
    height: 5rem;
    cursor: pointer;
    }
#contacto a.botonSend span{ position: absolute; bottom: 0; right:0; color:#fff;}


#contacto ::-webkit-input-placeholder { color: #3F3F40; }
#contacto :-moz-placeholder { color: #3F3F40; }
#contacto ::-moz-placeholder { color: #3F3F40; }
#contacto :-ms-input-placeholder { color: #3F3F40; }

#enviado {
    width: 100%;
    height: 100%;
    background: honeydew;
    color: #a21318;
    text-align: center;
}


@media only screen and (max-width: 600px) {  /* PARA MOVILES*/
    body{font-size:12px;} .container-large {width: 85%;}
    h2, p{ text-align: center;}
}
@media only screen and (min-width: 601px) { /* PARA TABLETS*/
    body{font-size:14px;} .container-large {width: 85%;}
    .sectionSpaces{ padding: 4.5em 0 4.5em 0; }
    
    #panetonesList, #pasteleriaList { width:346px; }
    #panetonesList .viewport, #pasteleriaList .viewport { width: 346px; height: 335px;}
    #panetonesList .overview, #pasteleriaList .overview { width: 346px; }
    ul.menuSlider {width:26em}
    
    #novedadesList { width:460px; }
    #novedadesList .viewport { width: 460px; height: 335px;}
    #novedadesList .overview { width: 460px; }
}
@media only screen and (min-width: 993px) { 
    body{font-size:16px;} .container-large {width: 82%;}
    
    #panetonesList, #pasteleriaList { width:692px; }
    #panetonesList .viewport, #pasteleriaList .viewport { width: 692px; height: 335px;}
    #panetonesList .overview, #pasteleriaList .overview { width: 692px; }
    
    #novedadesList { width:690px; }
    #novedadesList .viewport { width: 690px; height: 335px;}
    #novedadesList .overview { width: 690px; }
   
}


@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url('../fonts/HelveticaNeueLTStdMdCn.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTStdMdCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTStdMdCn.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeueLTStdMdCn.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaNeueLTStdMdCn.otf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTStdMdCn.svg#svgFontName') format('svg'); /* Legacy iOS */
  
}

@font-face {
  font-family: 'HelveticaNeueLTStd Bold';
  src: url('../fonts/HelveticaNeueLTStdBd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTStdBd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTStdBd.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeueLTStdBd.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaNeueLTStdBd.otf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTStdBd.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: bolder;
}