#libox {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../../imgs/back-trans.png);
  padding-top: 60px;
  display: none;
  z-index: 1000;
}

#libox section {
  background: #ffffff;
  width: 700px;
  padding: 30px 30px 40px 30px;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}

#libox section h1 {
  font-size: 20px;
  color: #337ab7;
  margin-bottom: 20px;
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
}

#libox section form > ul {
  display: block;
  width: 90%;
  margin: 0px auto;
  overflow: hidden;
}

nav ul, li {
  list-style: none;
}

#libox section label {
  color: #666666;
  display: block;
  margin-bottom: 4px;
}

#libox section input[type="text"] {
  color: #8C8888;
  background-color: #F6F6F6;
  border: 0px;
  font-size: 16px;
  padding: 6px 16px;
  width: 100%;
  margin-bottom: 10px;
}

#libox section textarea {
  color: #8C8888;
  background-color: #F6F6F6;
  border: 0px;
  font-size: 16px;
  padding: 6px 16px;
  width: 100%;
  height: 150px;
  line-height: 18px;
  margin-bottom: 10px;
  resize: none;
}

.salvar {
  width: 42px;
  height: auto;
  display: block;
  margin: 0px auto;
}
.salvar img{ width:100%}